<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Menu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="background: lightgray;">

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <% if(messages.error) { %>
                    <div class="alert alert-danger" role="alert"><%- messages.error %></div>
                <% } %>
                <div class="card border-0 shadow rounded">
                    <div class="card-body">
                        <form action="/update/<%= id %>" method="post" enctype="multipart/form-data">
                            <div class="form-group my-2">
                                <label>Nama Produk</label>
                                <input type="text" class="form-control" name="nama" value="<%= nama %>" placeholder="Please Input Name">
                            </div>
                            <div class="form-group my-2">
                                <label>Harga Produk</label>
                                <input type="number" class="form-control" name="harga" value="<%= harga %>">
                            </div>
                            <div class="form-group my-2">
                                <label>Jenis Produk</label> <br>
                                <label>
                                    <input type="radio" name="jenis" id="foods">
                                    Makanan
                                </label> <br>
                                <label>
                                    <input type="radio" name="jenis" id="drinks">
                                    Minuman
                                </label>
                            </div>

                            <div class="form-group my-2">
                                <label>Description</label>
                                <textarea class="form-control" name="description" rows="6" style="resize: none;"><%= description %></textarea>
                            </div>

                            <div class="form-group my-2">
                                <label>Upload Image</label>
                                <img src="/images/<%= gambar %>" width="100" height="100" alt="<%= gambar %>">

                                <input type="file" class="form-control mt-2" name="gambar" value="<%= gambar %>">
                            </div>
    
                            <div class="my-4">
                                <button type="submit" class="btn btn-primary">UPDATE</button>
                                <button type="reset" class="btn btn-danger">RESET</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>

    <script>
        var types = "<%= jenis %>"
        document.getElementById(types).checked = true
    </script>
</body>
</html>